<!DOCTYPE html>
<html>
<head>
  <title>PostingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="posts/new">Log@Post</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to "See The Posts", posts_path %></li>
          <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, class: 'btn', method: :delete %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>  

<div class="container">  
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<% if flash[:error] %>
<%= flash[:error] %>
<% end %>

<%= yield %>
</div>

</body>
</html>
